/*COMMON*/
img {
    width: 100%;
}

.txt_style {
    color: #2d4069;
    font-weight: 600;
}

.small_wrapper {
    width: 60%;
    margin: auto;
}
/*COMMON*/

/*HEADER*/
.top_nav {
    padding: 10px;
}

.top_nav .logo {
    padding-top: 7px;
}

.top_nav .logo img {
    height: 35px;
    width: auto;
}

.top_nav .menu {
    padding-top: 15px;
}

.top_nav .menu li a {
    color: #2d4069;
    font-weight: 600;
}


.top_nav .menu li {
    list-style-type: none;
    display: inline-block
}

.top_nav .right_menu {
    padding-top: 7px;
}

.top_nav .right_menu li:last-child {
    padding-left: 10px;
}

.top_nav .menu .signup {
    border-color:#006aff;
    color: #006aff;
    padding-left: 10px;
}

.burger_menu {
    padding-top: 10px;
}

.burger_menu a {
    color: #006aff;
    font-size: 20px;
}

.top_nav .menu li a {
    text-decoration: none;
    padding-left: 10px;
}

.bot_nav {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
    padding: 50px 0;
}

.teaser_header {
    padding-top: 15px;
}

.teaser_header h1 {
    color: white;
    font-size: xxx-large;
    font-weight: 900;
    padding-right: 59px;
}

.teaser_header p {
    color: lightgrey;
    font-size: x-large;
}

.teaser_right_box {
    background-color: white;
    border-radius: 10px;
}

.teaser_right_content h2 {
   padding-top: 30px;
}

.teaser_right_content h3 {
    color: #006aff;
}

.teaser_right_box form input,
.button_form, .button_google {
    width: 90%;
    margin: auto;
}

.button_form .size_btn {
    padding: 5px;
    background-color: #579aff;
    color: white;
    border: none;
}

.button_google .size_btn {
    padding: 5px;
    background-color: white;
    border: none;
}

.button_google {
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 2px 2px lightgrey;
}

.button_google button {
    color: #2d4069;

}

.button_google button:hover {
    color: #579aff;
}

.button_google button img {
    height: 20px;
    width: auto;
}

.info_signup p {
    font-size: smaller;
    padding-bottom: 30px;
    padding-top: 13px;
}

/*MEDIA QUERY*/

@media screen and (max-width: 991px) and (min-width: 768px) {

    
.teaser_header h1 {
    color: white;
    font-size: xx-large;
    font-weight: 900;
    padding-right: 59px;
}

.teaser_header p {
    font-size: large;
}
}

/*MEDIA QUERY*/
/*HEADER*/

/*Main*/

/*logos section*/

#logos_section {
    background-color: #f3f5f9;
}

.logos_sec_teaser h5 {
    color: #6f7b97;
    font-weight: 700;
    padding: 20px 0;
}

.logos_list li {
    width: calc(100% / 6 - 4px );
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
}

/*MEDIA QUERY*/

@media screen and (max-width: 768px) {

    .logos_list li {
        width: calc( 100% / 2 - 4px );
    }
}

/*MEDIA QUERY*/

/*Deploy section*/


/*Deploy section*/

.deploy_teaser h2 {
    padding-top: 30px;
}

.deploy_teaser p {
    color: #6f7b97;
    font-size: large;
    padding-top: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}

.deploy_list {
    padding-top: 30px;
}
.deploy_list ul {
    font-size: x-large;
    border-left: 1px solid #6f7b97;
}

.deploy_list li {
    list-style-type: none;
    color: #6f7b97;   
}

.deploy_img_size img {
    height: 50px;
    width: auto;
}

.deploy_info_container,
.deploy_info_container h4 {
    padding: 20px 0;
}

.deploy_info_container p {
    color: #6f7b97; 
    font-size: initial;
}
/*Deploy section*/

/*Dev section*/
#dev_section,
#rockerbox {
    background-color: #f3f5f9;
}

.develop_teaser h2,
.rockerbox_teaser h2 {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0;
}

.develop_teaser p {
    font-size: large;
    font-weight: 600;
    color: #6f7b97;
    padding-bottom: 90px;
}

.chevron-left,
.chevron-right {
    padding-top: 150%;
}
 
.chevron-right i {
    color: #031c4e;
    font-size: xxx-large;
}

.chevron-left i {
    color: #031c4e;
    font-size: xxx-large;
}

/*Dev footer*/

.dev_footer > div,
.rock_footer > div {
    padding-top: 10px;
    padding-bottom: 30px;
}

.circle_cont {
    padding-top: 10px;
}

.circle_cont ul li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #016dff;
}

.circle_cont ul li:first-child {
    background-color: #016dff;
}
/*Dev footer*/
/*Dev section*/

/*features section*/
#features_section {
    padding-bottom: 40px;
}

.features_info_container {
    padding-top: 15px;
}

.features_teaser h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.features_info_container h4,
.features_info_container p,
.features_info_container a {
    padding-top: 20px;
}

.features_info_container p {
    color: #6f7b97;
}

.features_info_container a {
    color: #006aff;
    font-weight: 600;
    text-decoration: none;
}
/*features section*/

/*region list section*/

#region_list_section {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 80px;
    padding-bottom: 40px;
}

.region_title h2 {
    color: white;
    font-weight: 600;
    font-size: xx-large;
    padding-bottom: 20px;
}

.region_list_container li {
    border-bottom: 1px solid white;
    list-style-type: none;
    font-weight: 600;
    font-size: small;
    padding-top: 15px;
}

.region_list_container li span {
    color: white;
}

.region_list_container li:last-child {
    border-bottom: none;
}

.region_list_container li p {
    display: inline-block;
    color: #7c95d3;
}

.region_list_container li a {
    color: #00c8cf;
    text-decoration: none;
}
/*region list section*/

/*rockerbox section*/
.thin_wrapper {
    width: 90%;
    margin: auto;
}

.rockbox_container {
    background-color: white;
    padding-top: 91px;
    padding-top: 91px;
    padding-bottom: 15px;
    margin-top: 80px;
}

#rockerbox .rockbox_container img {
    width: auto;
}

.rockerbox_teaser p:first-child {
    padding: 20px 0;
    font-size: x-large;
    color: #5c6a88;
}

.rockerbox_teaser p:last-child {
    color: #031c4e;
}

#rockerbox .rockbox_container p:nth-child(3) {
    padding-bottom: 30px;
}

.rockerbox_teaser a {
    color: #006aff;
    font-weight: 600;
}

.rock_footer ul {
    padding-left: 10px;
}

.rocker_chevron .chevron-left i {
    color: #6f7b97;
}

/*MEDIA QUERY*/

@media screen and (max-width: 991px) and (min-width: 768px) {

    .rocker_chevron .chevron-left, .rocker_chevron .chevron-right {
        padding-top: 280%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    .rocker_chevron .chevron-left, .rocker_chevron .chevron-right {
        padding-top: 206%;
    }
}
/*MEDIA QUERY*/
/*rockerbox section*/

/*Get started section*/

#get_start {
    background-color: #0034ae;
    padding-bottom: 45px;
}

#get_start .get_start_teaser h2 {
    color: white;
    font-size: xx-large;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 20px;
}

#get_start .get_start_teaser p button {
    padding-left: 25px;
    padding-right: 25px;
    color: #006aff;
}

/*Get started section*/

/*Main*/

/*FOOTER*/

#footer_list {
    background-color: #031c4e;
}

.footer_left_list_container {
    padding-top: 80px;
}

.footer_left_list_container img {
    height: 50px;
    width: auto;
}

.footer_left_list_container p {
    color: #7a859d;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_left_list_container span {
    color: #5a6887;
}

.footer_left_list_container ul {
    list-style-type: none;
    padding: 0;
}

.footer_left_list_container ul li {
    display: inline-block;
    font-size: x-large;
    padding-right: 15px;
}

.footer_left_list_container ul li a i {
    color: #7a859d;
}


.common_footer_list_style {
    list-style-type: none;
    padding-top: 95px;
}

.common_footer_list_style li {
    padding-top: 5px;
}

.common_footer_list_style a {
    text-decoration: none;
    color: #a6adbd;
    font-weight: 600;
}

.common_footer_list_style .title {
    color: white;
    font-weight: 600;
    font-size: larger;
}

/*MEDIA QUERY*/

@media screen and (max-width: 991px) {

    .common_footer_list_style {
        padding: 0;
        padding-top: 20px;
    }
}

/*MEDIA QUERY*/
/*FOOTER*/










